@import 'core/style/scss-shared/_shared.scss';

.media-list-wrapper
{
  margin-top: $large-content-margin;
}

.media-list
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
