@import 'core/style/scss-shared/_shared.scss';

.loader {
  margin: $large-content-margin auto;
}

.loader.pulsing {
  width: 5em;
  height: 5em;
  margin: $large-content-margin auto;
  background-color: $brand-accent-medium;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
}

.loader.spinning {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid $red;
  border-right: 3px solid $yellow;
  border-bottom: 3px solid $green;
  border-left: 3px solid $blue;
  transform: translateZ(0);
  animation: load8 0.7s infinite linear;
}

.loader.spinning,
.loader.spinning:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}