@import 'core/style/scss-shared/_shared.scss';

.app-header {
  background-color: $brand-dark;
  min-height: $header-height;
  padding: $large-content-padding; 
  text-align: center;
}

.app-homelink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title,
.app-tagline {
  display:inline-block;
  @include rainbow-text();
}

.app-homelink:hover .app-title,
.app-homelink:hover .app-tagline {
  @include rainbow-text-shifted();
}

// plain link styles for IE11 where background-clip: text is not supported
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .app-title,
  .app-tagline {
    background: transparent;
    color: $link-color;
  }

  .app-homelink:hover .app-title,
  .app-homelink:hover .app-tagline {
    background: transparent;
    color: $link-hover-color;
  }
}

.app-title {
  text-transform: uppercase;
}

.app-tagline {
  margin-top: 0;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: $large-content-padding;
  @media screen and (min-width: $breakpoint-tablet-landscape-min-width) {
    margin: $standard-content-margin
  } 
}

.app-full-width-content {
  width: 100%;
  order: 1;
}

.app-sidebar {
  @media screen and (max-width: $breakpoint-tablet-portrait-max-width) {
    width: 100%;
    //float: none;
    order: 1;
  }
  @media screen and (min-width: $breakpoint-tablet-landscape-min-width) {
    //float: right;
    width: $sidebar-width;
    order: 2;
  }  
}

.app-main-content {
  @media screen and (max-width: $breakpoint-tablet-portrait-max-width) {
    width: 100%;
    //float: none;
    margin-top: $standard-content-margin;
    order: 2;
  }
  @media screen and (min-width: $breakpoint-tablet-landscape-min-width) {
    //float: left;
    width: calc(100% - #{$sidebar-width + $standard-content-margin});
    margin-right: $standard-content-margin;
    order: 1;
  }
}

.MuiButton-contained.MuiButton-styled {
  color: $text-color;
  background-color: $brand-accent-vivid;
  &:hover {
    background-color: $brand-accent-dark;
  }
}




