/*---------------------------------------------------------------------*/
/*  SASS variables
/*  Variables neither color/font/grid go there
/*  Order the SASS files get compiled:
/*  1) External libs
/*  2) Core variables SASS files 
/*  3) theme variable overrides
/*  4) other core SASS files
/*  5) other theme SASS overrides
/*---------------------------------------------------------------------*/

/* Component Variables */

$small-content-margin: 5px;
$medium-content-margin: 10px;
$standard-content-margin: 20px;
$large-content-margin: 30px;

$small-content-padding: 10px;
$standard-content-padding: 15px;
$large-content-padding: 20px;



