@import 'core/style/scss-shared/_shared.scss';

.breadcrumb {
  display: inline-block;
}

.breadcrumb-link {
  display: inline-block;
}

.breadcrumb-separator {
  display: inline-block;
  font-weight: 600;
  color: $link-color;
  padding: 0 5px;
}