@import 'core/style/scss-shared/_shared.scss';

.tag-cloud {
  text-align: center;
  @media screen and (max-width: $breakpoint-tablet-portrait-max-width) {
    padding: $large-content-padding;
  }
  @media screen and (min-width: $breakpoint-tablet-landscape-min-width) {
    padding: $large-content-padding $large-content-padding $large-content-padding 0;
  }  
}

.tag-item {
  display: inline-block;
  margin: 4px 6px;
}

.tag {
  display: inline-block;
  .popularity-0 & {
    padding: 1px 2px;
  }
  .popularity-1 & {
    padding: 2px 3px;
  }
  .popularity-2 & {
    padding: 4px 6px;
  }
  .popularity-3 & {
    padding: 6px 9px;
  }
  .popularity-4 & {
    padding: 8px 12px;
  }
  .popularity-5 & {
    padding: 10px 15px;
  }
  .popularity-6 & {
    padding: 12px 18px;
  }
}

.tag-title {
	display: inline-block;
	color: $brand-accent-medium;
	margin: 0;
  font-weight: 500;
  .popularity-0 & {
    font-size: $font-size-extra-small;
    line-height: $font-size-extra-small;
  }
  .popularity-1 & {
    font-size: $font-size-small;
    line-height: $font-size-small;
  }
  .popularity-2 & {
    font-size: $font-size-small + 2px;
    line-height: $font-size-small + 2px;
  }
  .popularity-3 & {
    font-size: $font-size-small + 4px;
    line-height: $font-size-small + 4px;
  }
  .popularity-4 & {
    font-size: $font-size-small + 6px;
    line-height: $font-size-small + 6px;
  }
  .popularity-5 & {
    font-size: $font-size-small + 8px;
    line-height: $font-size-small + 8px;
  }
  .popularity-6 & {
    font-size: $font-size-small + 10px;
    line-height: $font-size-small + 10px;
  }
}

.selected .tag-title,
.tag:hover .tag-title {
	color: $brand-accent-vivid;
}